@media(max-width: 780px) {
    .header {
        flex-direction: column;
    }

    .header h1 {
        font-size: 4rem;
    }


    .nav-bar {
        flex-direction: column;
        margin-top: 50px;
    }

    .nav-bar li {
        padding: 15px 0px;
    }

    .nav-bar li a {
        font-size: 4rem;
        padding: 17px 40px;
    }

    .nav-bar li a.btn {
    
        font-size: 1.8rem;
        padding: 15px;
    }



}